<div class="inner">
    <div class="collapsing">
        <div class="collapsing-wrapper">
            <div class="collapsing-title">{{title}}</div>
            <div class="collapsing-hidden">{{{hidden}}}</div>

            <button class="collapsing-button">
                <span class="collapsing-button-text">{{buttonText}}</span>
                <svg class = "collapsing-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.18333 -3.85389e-07L5 3.7085L8.825 -5.13609e-08L10 1.1417L5 6L-4.99053e-08 1.1417L1.18333 -3.85389e-07Z" fill="#1B1B1B" fill-opacity="0.7" />
                </svg>
            </button>
            
        </div>
    </div>
</div>