$color-title: rgba(27, 27, 27, 1);
$color-subtext: rgba(27, 27, 27, 0.9);
$color-button: rgba(19, 19, 19, 0.7);
$background: rgba(255, 255, 255, 1);

.collapsing {
    background-color: $background;
    max-width: 1159px;
    margin: 25px 0;
}

.collapsing-wrapper {
    max-width: 1115px;
    padding: 44px 15px 55px 29px;
}

.collapsing-title {
    color: $color-title;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 3%;
    margin-bottom: 20px;
}

.collapsing-subtext {
    max-height: 175px;
    color: $color-subtext;
    font-size: 15px;
    line-height: 25px;
    position: relative;
    overflow: hidden;
    transition: max-height .3s ease;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 100%);
        transition: opacity .5s ease;
        pointer-events: none;
        opacity: 1;
    }
}

.collapsing.collapsing_expand .collapsing-subtext::after {
    opacity: 0;
}

.collapsing-button {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}

.collapsing-button-text {
    color: $color-button;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: underline;
}

.collapsing-arrow {
    display: inline-block;
    vertical-align: middle;
    transition: transform .3s ease;
}

.collapsing-button.active .collapsing-arrow {
    transform: rotate(180deg);
}

@media (max-width: 1279px) {
    .collapsing-wrapper {
        padding: 44px 15px 55px 17px;
    }

    .collapsing-title {
        margin-bottom: 15px;
    }

    .collapsing-button{
        margin-top: 10px;
    }
}

@media(max-width: 767px) {
    .collapsing-wrapper {
        padding: 44px 32px;
    }

    .collapsing-title {
        margin-bottom: 15px;
    }

    .collapsing-button{
        margin-top: 15px;
    }
}