<div class="inner">
    <div class="logistics">
        <div class="logistics-title">{{logistics-title}}</div>

        <div class="logistics-cards swiper">
            <div class="swiper-wrapper">
                {{#logistics-cards}}
                    <div class="logistics-card swiper-slide">
                        <img src="{{logistics-card__icon}}" alt="" class="logistics-card__icon">

                        <div class="logistics-content">
                            <div><span class="logistics-content__title">{{logistics-content__title}}</span></div>
                            <div class="logistics-content__subtitle">{{logistics-content__subtitle}}</div>

                            <div class="block-delivery">
                                <div class="block-cost">
                                    <div class="cost-title">{{{cost-title}}}</div>
                                    <div class="cost-price">{{cost-price}}</div>
                                </div>
                                <div class="block-term">
                                    <div class="term-title">{{{term-title}}}</div>
                                    <div class="term-days">{{term-days}}</div>
                                </div>
                            </div>
                            <div class="logistics-content__button">{{{logistics-content__button}}}</div>
                        </div>
                    </div>
                {{/logistics-cards}}
            </div>
        </div>
        <div class="logistics-pagation">
            <a class="arrow-left" href="#">
                <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.4143 6.70703H1.41431M1.41431 6.70703L7.41431 0.707031M1.41431 6.70703L7.41431 12.707" stroke="black" stroke-width="2" />
                </svg>
            </a>
            <div class="logistics-slides">
                <div class="logistics-slide"></div>
                <div class="logistics-slide"></div>
                <div class="logistics-slide"></div>
                <div class="logistics-slide"></div>
            </div>
            <a class="arrow-right" href="#">
                <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 6.70703H18M18 6.70703L12 0.707031M18 6.70703L12 12.707" stroke="black" stroke-width="2" />
                </svg>
            </a>
        </div>
    </div>
</div>