<div class="about">
    <div class="layout">
        <div class="about-wrapper">
            <div class="about-content__wrapper">
                <div class="about-content">
                    <div class="about-content__title">{{about-content__title}}</div>
                    <div class="about-content__subtitle">{{{about-content__subtitle}}}</div>

                    <div class="about-content__links">
                        <a href="#" class="about-link__connection">{{about-link__connection}}</a>
                        <a href="#" class="adout-link__more">{{adout-link__more}}</a>
                    </div>
                </div>
            </div>

            <div class="about-list__wrapper">
                <div class="about-list swiper">
                    <div class="swiper-wrapper">
                        {{#about-items}}
                            <div class="about-item swiper-slide">
                                <img src="{{about-item__image}}" alt="" class="about-item__image">
                                <div class="about-item__text">
                                    <div class="about-text__title">{{about-text__title}}</div>
                                </div>
                            </div>
                        {{/about-items}}
                    </div>
                </div>
                <div class="about-pagination">
                    <a href="#" class="about-button__left">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.4143 6.70703H1.41431M1.41431 6.70703L7.41431 0.707031M1.41431 6.70703L7.41431 12.707" stroke="black" stroke-width="2" />
                        </svg>
                    </a>
                    <a href="#" class="about-button__right">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 6.70703H18M18 6.70703L12 0.707031M18 6.70703L12 12.707" stroke="black" stroke-width="2" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>