<section class="about">
    <div class="about__container container">
        <div class="about__title">{{about__title}}</div>

        <div class="about__menu">
            {{#about__list}}
                <div class="about__item">
                    <div class="about__item-title">{{about__item-title}}</div>
                    <div class="about__item-subtitle">{{about__item-subtitle}}</div>
                </div>
            {{/about__list}}
        </div>
    </div>
</section>