<div id="about" class="about homepage-fade">
    <div class="wrapper">
        <div class="about-wrapper">
            <div class="about-title__wrapper">
                <span class="about-title about-title__desktop">{{about-title__desktop}}</span>
                <span class="about-title about-title__mobile">{{about-title__mobile}}</span>
            </div>

            <div class="about-list">
                {{#about-items}}
                    <div class="about-item">
                        <img class="about-item__logo" src="{{about-item__logo}}" alt="">
                        <div class="about-item__title">{{about-item__title}}</div>
                    </div>
                {{/about-items}}
            </div>

            <a href="#" class="about-link">
                {{about-link}}
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 10.59L6.88563 6L2.25 1.41L3.67713 0L9.75 6L3.67713 12L2.25 10.59Z" fill="#262626" />
                </svg>
            </a>
        </div>
    </div>
</div>