<div class="layout">
    <div class="calculator fade">
        <div class="calculator-wrapper">
            <div class="calculator-content">
                <div class="calculator-content__title">{{calculator-content__title}}</div>
                <div class="calculator-content__subtitle">{{calculator-content__subtitle}}</div>
                <a href="#" class="calculator-content__link">{{calculator-content__link}}</a>
            </div>
            <img src="{{calculator-image}}" alt="" class="calculator-image">
        </div>
    </div>
</div>