.calculator {
    position: relative;
    max-height: 453px;
    margin: 88px 0 128px 0;
    background-color: #494B50;
    border-radius: 16px;
    overflow: hidden;
}

.calculator-wrapper {
    display: flex;
    gap: 77px;
}

.calculator-content {
    padding: 80px 0 87px 80px;
}

.calculator-content__title {
    color: #FFFFFF;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -2px;
    margin-bottom: 16px;
}

.calculator-content__subtitle {
    color: #CCCCCC;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 1%;
    margin-bottom: 40px;
}

.calculator-content__link {
    display: block;
    width: 189px;
    color: #FFFFFF;
    background-color: #FF022C;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    text-align: center;
    text-transform: uppercase;
    padding: 21px 32px 19px 32px;
    animation: pulse 2.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 2, 44, 0.6);
    }

    70% {
        box-shadow: 0 0 0 12px rgba(255, 2, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 2, 44, 0);
    }
}

.calculator-image {
    margin: 40px 40px 0 0;
    width: 571px;
    height: 581px;
}

@media(max-width: 1279px) {
    .calculator {
        margin: 48px 32px 70px 32px;
    }

    .calculator-wrapper {
        gap: 0;
    }

    .calculator-content {
        max-width: 376px;
        padding: 48px 0 48px 48px;
    }

    .calculator-content__title {
        font-size: 28px;
    }

    .calculator-content__subtitle {
        font-size: 14px;
        line-height: 150%;
    }

    .calculator-image {
        position: absolute;
        left: 345px;
        margin: 32px 0 0 0;
        width: 443px;
        height: 449px;
    }
}

@media(max-width: 767px) {
    .calculator {
        margin: 0;
        border-radius: 0;
    }

    .calculator-content {
        padding: 48px 24px;
        z-index: 1;
    }

    .calculator-content__title {
        font-size: 22px;
    }

    .calculator-content__subtitle {
        font-size: 12px;
        margin-bottom: 24px;
    }

    .calculator-content__link {
        width: 100%;
    }

    .calculator-image {
        position: absolute;
        width: 355px;
        height: 359px;
        left: 126px;
        top: -189px;
        opacity: 30%;
        z-index: 0;
    }
}