<div class="container">
    <div class="task-text">
        <div class="task-title">{{title}}</div>
        
        <div class="task-content">
            <div class="content-title">{{text}}</div>
        </div>

        <button class="task-toggle">
            <span class="task__toggle-text">{{buttonText}}</span>
            <span class="task__arrow">
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.464 3.69973e-07L4.8 3.7085L1.128 4.93064e-08L-4.99053e-08 1.1417L4.8 6L9.6 1.1417L8.464 3.69973e-07Z" fill="#FF6D00" />
                </svg>
            </span>
        </button>
    </div>
</div>