.container {
    .task-text {
        margin: 50px 0;
        width: 1170px;

        .task-title {
            font-size: 22px;
            line-height: 34px;
            color: rgba(38, 32, 36, 1);
            margin-bottom: 20px;
        }

        .task-content {
            max-height: 117px;
            overflow: hidden;
            position: relative;
            transition: max-height 0.4s ease;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 150px;
                background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgba(247, 247, 247, 1));
                transition: opacity 0.3s ease;
                pointer-events: none;
                opacity: 1;
            }

            &.task-content_expand,
            &.task-content_unset {
                max-height: 1000px;

                &::after {
                    opacity: 0;
                }
            }

            .content-title {
                font-size: 15px;
                line-height: 25px;
                color: rgba(85, 85, 85, 1);
                margin-bottom: 10px;
            }
        }

        .task-toggle {
            margin-top: 20px;
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;

            .task__toggle-text {
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                margin-right: 5px;
                color: rgba(38, 32, 36, 0.8);
            }

            .task__arrow {
                display: inline-block;
                transition: transform 0.3s ease;
            }

            &.task-content-expand .task__arrow {
                transform: rotate(180deg);
            }
        }
    }
}

@media (max-width: 480px){
    .container{
        max-width: 480px;
        
        .task-text{
            border-top: 1px solid rgba(38, 32, 36, 0.1);
            border-bottom: 1px solid rgba(38, 32, 36, 0.1);
            padding: 30px 0 50px 0;
            width: 100%;

            .task-title{
                margin-bottom: 15px;
            }

            .task-content{
                .content-title{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 1023px){
    .container{
        max-width: 1023px;

        .task-text{
            border-top: 1px solid rgba(38, 32, 36, 0.1);
            border-bottom: 1px solid rgba(38, 32, 36, 0.1);
            padding: 30px 0 50px 0;
            width: 100%;
        }
    }
}
