$color-gray: rgba(27, 27, 27, 0.4);
$color-red: rgba(228, 45, 60, 1);
$color-black: rgba(27, 27, 27, 0.9);

.disclosure {
    margin: 50px;
    position: relative;
    width: 100%;
    max-width: 350px;

    &.disclosure_expand {
        .disclosure-hidden {
            height: auto;
        }

        .disclosure-list {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        .disclosure-arrow {
            transform: rotate(180deg);
        }
    }

    &.disclosure_disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .disclosure-current {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        padding: 10px 15px;
        color: $color-black;
        cursor: pointer;
        font-weight: 600;

        .disclosure-current__text {
            color: $color-gray;
        }

        .disclosure-arrow {
            transition: transform 0.3s ease;
        }
    }

    .disclosure-hidden {
        position: relative;
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
    }

    .disclosure-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 15px;
        background-color: #fff;
        margin-top: 8px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        
        opacity: 0;
        transform: translateY(-10%);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;

        .disclosure__value {
            font-weight: 600;
            color: $color-gray;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: $color-black;
            }

            &.disclosure__value_selected {
                color: $color-red;
            }
        }
    }
}

@media (max-width: 768px) {
    .disclosure {
        margin: 25px auto;
    }
}
