.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

    .task-slider {
        position: relative;
        overflow: hidden;
        width: 1170px;
        background-color: rgba(232, 232, 232, 1);
        margin: 0 auto;

        .task-slider__wrapper {
            display: flex;
        }

        .task-slider__slide {
            flex-shrink: 0;
            width: 100%;
            position: relative;
        }

        .task-slider__content {
            padding: 76px 0 102px 66px;
            width: 575px;
        }

        .task-slider__logo {
            width: 209px;
            height: 66px;
            margin-bottom: 27px;
        }

        .task-slider__title {
            font-size: 32px;
            line-height: 100%;
            font-weight: 700;
            margin-bottom: 52px;
            color: rgba(38, 32, 36, 1);
        }

        .task-slider__button {
            border: 1.5px solid rgba(38, 32, 36, 1);
            color: rgba(38, 32, 36, 1);
            border-radius: 30px;
            padding: 18px 35px;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 3%;
            font-weight: 600;
        }
    }

    .manual-wrapper {
        display: none;

        .task-slider__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 19px;
            margin: 20px auto;

            .manual-bullet {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: rgba(23, 23, 23, 0.2);

                &.active {
                    background-color: rgba(23, 23, 23, 0.7);
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 479px;

        .task-slider {
            width: 100%;

            .task-slider__content {
                padding: 156px 25px 58px 25px;
            }

            .task-slider__logo {
                width: 195px;
                height: 62px;
                margin-bottom: 12px;
            }

            .task-slider__title {
                width: 239px;
                font-size: 20px;
                line-height: 26px;
            }

            .task-slider__button {
                padding: 16px 32px 16px 23px;
                border: none;
                background-color: rgba(255, 109, 0, 1);
                color: rgba(255, 255, 255, 1);
            }
        }

        .manual-wrapper {
            display: block;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        max-width: 765px;

        .task-slider {
            width: 100%;

            .task-slider__content {
                padding: 56px 285px 52px 36px;
            }

            .task-slider__logo {
                width: 195px;
                height: 62px;
                margin-bottom: 12px;
            }

            .task-slider__title {
                width: 350px;
                font-size: 20px;
                line-height: 26px;
            }

            .task-slider__button {
                padding: 16px 32px 16px 23px;
                border: none;
                background-color: rgba(255, 109, 0, 1);
                color: rgba(255, 255, 255, 1);
            }
        }

        .manual-wrapper {
            display: block;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 1023px;

        .task-slider {
            width: 100%;

            .task-slider__content {
                padding: 56px 285px 52px 36px;
            }

            .task-slider__logo {
                width: 140px;
                height: 44px;
                margin-bottom: 30px;
            }

            .task-slider__title {
                width: 420px;
                font-size: 26px;
                line-height: 100%;
                margin-bottom: 52px;
            }

            .task-slider__button {
                padding: 16px 32px 16px 23px;
                border: none;
                background-color: rgba(255, 109, 0, 1);
                color: rgba(255, 255, 255, 1);
            }
        }

        .manual-wrapper {
            display: block;
        }
    }
}