<div class="container">
    <div class="task-slider swiper">
        <div class="task-slider__wrapper swiper-wrapper">
            {{#slides}}
                <div class="task-slider__slide swiper-slide">
                    <div class="task-slider__background" style="background-image: url('{{background}}')"></div>
                    <div class="task-slider__content">
                        <img src="{{logo}}" alt="{{logoAlt}}" class="task-slider__logo">
                        <div class="task-slider__title">{{title}}</div>
                        <a href="{{buttonLink}}" class="task-slider__button">{{buttonText}}</a>
                    </div>
                </div>
            {{/slides}}
        </div>
    </div>
    <div class="manual-wrapper">
        <div class="task-slider__pagination manual-pagination">
            <span class="manual-bullet active" data-index="0"></span>
            <span class="manual-bullet" data-index="1"></span>
            <span class="manual-bullet" data-index="2"></span>
        </div>
    </div>
</div>