<div class="container">
    <div class="task-news">
        <div class="task-news__content">
            <div class="task-news__title">{{title}}</div>
            <div class="task-news__subtitle">{{subtitle}}</div>
        </div>
        <div class="task-news__list">
            {{#items}}
                <div class="task-news__item">
                    {{#image}}
                        <img src="{{image}}" alt="{{imageAlt}}" class="task-news__image">
                    {{/image}}
                    <div class="item-title">{{itemTitle}}</div>
                    <div class="item-subtitle">{{itemSubtitle}}</div>
                </div>
            {{/items}}
        </div>
    </div>
</div>
