<div class="statistics fade">
    <div class="wrapper">
        <div class="statistics-wrapper">
            <div class="statistics-title">{{statistics-title}}</div>
            <div class="statistics-list">
                {{#statistics-items}}
                    <div class="statistics-item">
                        <img class="statistics-item__icon" src="{{statistics-item__icon}}" alt="">
                        <div class="statistics-item__title">{{statistics-item__title}}</div>
                    </div>
                {{/statistics-items}}
            </div>
            <a href="#" class="statistics-button">
                {{statistics-button}}
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 10.59L6.88563 6L2.25 1.41L3.67713 0L9.75 6L3.67713 12L2.25 10.59Z" fill="#262626" />
                </svg>
            </a>
        </div>
    </div>
</div>