<div class="navigations">
{{#navigation}}
    <div class="button-navigation">{{link}}</div>
    <div class="navigation-scroll">
        <div class="left-arrow">
            {{arrow-left}}
            <span class="arrow-label">{{back}}</span>
        </div>
        <div class="navigation-numbers">
            <div class="one">{{one}}</div>
            <div class="dot">{{dot-left}}</div>
            <div class="five">{{five}}</div>
            <div class="six">{{six}}</div>
            <div class="seven">{{seven}}</div>
            <div class="dot">{{dot-right}}</div>
            <div class="fifteen">{{fifteen}}</div>
        </div>
        <div class="right-arrow">
        <span class="arrow-label">{{farther}}</span>
            {{arrow-right}}
        </div>
    </div>
{{/navigation}}
</div>
