<div class="navigations">
    {{#navigation}}
        <a class="button-navigation">{{show_more_button.text}}</a>

        <div class="navigation-scroll">
            <a class="arrow-nav left-arrow {{#arrow_left.is_disabled}}disabled{{/arrow_left.is_disabled}}">
                <span class="icon">{{{arrow_left.icon}}}</span>
                <span class="arrow-label">{{arrow_left.label}}</span>
            </a>

            <div class="navigation-numbers">
                {{#pages}}
                    <a class="page-item {{#is_dots}}page-dots{{/is_dots}} {{#is_current}}active{{/is_current}}">
                        {{text}}
                    </a>
                {{/pages}}
            </div>

            <a class="arrow-nav right-arrow {{#arrow_right.is_disabled}}disabled{{/arrow_right.is_disabled}}">
                <span class="arrow-label">{{arrow_right.label}}</span>
                <span class="icon">{{{arrow_right.icon}}}</span>
            </a>
        </div>
    {{/navigation}}
</div>