<div class="task-catalog">
    <div class="task-catalog__wrapper">
        {{#items}}
            <a href="{{link}}" class="task-catalog__link">
                <div class="task-catalog__item">
                    <div class="task-catalog__title">{{title}}</div>
                    <img src="{{image}}" alt="{{imageAlt}}" class="task-catalog__image">
                </div>
            </a>
        {{/items}}
    </div>
</div>