<div class="container">
    <div class="task-catalog">
        {{#items}}
            <a href="{{link}}" class="task-catalog__link">
                <div class="task-catalog__item">
                    <div class="task-catalog__title">{{title}}</div>
                    {{#image}}
                        <img src="{{image}}" alt="{{imageAlt}}" class="task-catalog__image">
                    {{/image}}
                </div>
            </a>
        {{/items}}
    </div>
</div>