.task-catalog {
    display: grid;
    gap: 20px 16px;
    grid-template-columns: repeat(4, 1fr);

    .task-catalog__item {
        display: flex;
        justify-content: space-between;
        width: 280px;
        height: 148px;
        transition: all ease-in-out .5s;
        padding: 5px 0 0 25px;
        background-color: rgba(232, 232, 232, 0.5);
        border-radius: 10px;

        .task-catalog__title {
            margin-top: 35px;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
            color: rgba(38, 32, 36, 1);
            transition: all ease-in-out .5s;
        }

        .task-catalog__image {
            width: 125px;
            height: 125px;
        }

        &:hover {
            background-color: rgba(255, 109, 0, 1);
            box-shadow: 5px 5px 0 0 black;

            .task-catalog__title {
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}


@media (max-width: 480px) {
    .container {
        width: 312px;
        height: 612px;
        margin: 0 auto;
        padding: 0;

        .task-catalog {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            .task-catalog__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 10px;
                width: 146px;
                height: 138px;


                .task-catalog__image {
                    order: 0;
                    width: 75px;
                    height: 75px;
                }

                .task-catalog__title {
                    order: 1;
                    font-size: 17px;
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: 100%;
        max-width: 768px;

        .task-catalog {
            grid-template-columns: repeat(2, 1fr);

            .task-catalog__item {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
                width: 100%;
                padding: 10px;

                .task-catalog__image {
                    width: 70px;
                    height: 70px;
                }

                .task-catalog__title {
                    font-size: 20px;
                    margin-right: 12px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100%;
        max-width: 1023px;

        .task-catalog {
            grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));

            .task-catalog__item {
                width: 100%;
                padding: 28px 58px 28px 16px;

                .task-catalog__image {
                    order: 0;
                    width: 70px;
                    height: 70px;
                    margin-right: 12px;
                    flex-shrink: 0;
                }

                .task-catalog__title {
                    order: 1;
                    font-size: 19px;
                    white-space: nowrap;
                }
            }
        }
    }
}