.about {
    max-width: 1282px;
    margin: 128px auto;
}

.about-wrapper {
    display: flex;
    gap: 64px;
}

.adout-content_wrapper {
    max-width: 664px;
}

.about-content_title {
    color: #00091A;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -4%;
    margin-bottom: 32px;
}

.about-content_subtitle {
    color: #62656A;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 1%;
    margin-bottom: 48px;
}

.about-content_buttons {
    display: flex;
    gap: 24px;
}

.about-contact_button {
    width: 226px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    background-color: #FF022C;
    border-radius: 5px;
    padding: 21px 32px 19px 32px;
    text-align: center;
    text-transform: uppercase;
}

.about-more_button {
    width: 144px;
    height: 56px;
    color: #62656A;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    border: solid 1px #62656A;
    border-radius: 5px;
    padding: 21px 32px 19px 32px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s ease, color .3s ease;
}

.about-more_button:hover {
    background-color: #FF022C;
    border-color: #FF022C;
    color: #FFFFFF;
}

.about-card-wrapper {
    margin-top: 11px;
}

.about-card.swiper {
    width: 392px;
    height: 572px;
}

.about-card_image {
    display: block;
    width: 392px;
    height: 545px;
    border: solid 8px #FFFFFF;
    border-radius: 16px;
}

.card-image_text {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 16px;
    left: 66px;
    right: 65px;
    top: 516px;
    text-align: center;
    width: 261px;
    box-shadow: 0 16px 32px 0 rgba(4, 27, 73, 0.02);
}

.card-image_title {
    color: #303236;
    font-size: 12px;
    padding: 21px 32px 20px 32px;
}

.about-navigation {
    max-width: 144px;
    display: flex;
    justify-content: center;
    margin: 24px auto 0 auto;
    gap: 16px;
}

.about-left_arrow,
.about-right_arrow {
    display: block;
    width: 64px;
    height: 64px;
    padding: 24px 20px;
    border-radius: 64px;
    transition: border .3s ease, box-shadow .3s ease;
}

.about-left_arrow:hover,
.about-right_arrow:hover {
    box-shadow: 0 4px 0 0 rgba(247, 247, 247, 1);
    border: solid 1px rgba(242, 242, 242, 1);
}

.about-right_arrow.is-disabled,
.about-left_arrow.is-disabled {
    opacity: 0.3;
    pointer-events: none;
}

@media(max-width: 1279px) {
    .about {
        margin: 64px 32px;
    }

    .about-wrapper {
        flex-direction: column;
        gap: 48px;
    }

    .adout-content_wrapper {
        max-width: 100%;
        background-color: rgba(247, 247, 247, 1);
        border-radius: 16px;
    }

    .about-content {
        padding: 52px;
    }

    .about-content_title {
        font-size: 48px;
        margin-bottom: 16px;
    }

    .about-content_subtitle {
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media(max-width: 767px) {
    .about {
        margin: 48px 24px;
    }

    .adout-content_wrapper {
        max-width: 100%;
        background-color: inherit;
    }

    .about-content {
        padding: 0;
    }

    .about-content_title {
        font-size: 30px;
        margin-bottom: 24px;
    }

    .about-content_subtitle {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .about-content_buttons {
        flex-direction: column;
        gap: 16px;
    }

    .about-contact_button,
    .about-more_button {
        width: 100%;
    }

    .about-card.swiper {
        width: 272px;
        height: 379px;
    }

    .about-card_image {
        width: 272px;
        height: 379px;
        border: solid 5px #FFFFFF;
    }

    .card-image_text {
        top: 395px;
        left: 0;
        right: 0;
        z-index: 2;
    }
}