<div class="inner">
    <div class="settlement">
        <div class="settlement-wrapper">
            <div class="settlement-content">
                <div class="settlement-content_title">{{settlement-content_title}}</div>
                <div class="settlement-content_subtitle">{{settlement-content_subtitle}}</div>
                <a href="#" class="settlement-content_button">{{settlement-content_button}}</a>
            </div>
            <img class="settlement-image" src="{{settlement-image}}" alt="">
        </div>
    </div>
</div>
