<div class="inner">
    <div class="confectionery">
        <div class="confectionery-wrapper">
            <div class="confectionery-cap">
                <div class="confectionery-title">{{title}}</div>
                <a href="#" class="confectionery-button">{{button}}</a>
            </div>
            <div class="confectionery-items">
                {{#items}}
                    <div class="confectionery-item">
                        <div class="confectionery-content">
                            <img src="{{item-logo}}" alt="" class="confectionery-logo">
                            <div class="confectionery-subtitle">{{subtitle}}</div>
                        </div>
                        <ul class="confectionery-list">
                            <li class="confectionery-links">
                                {{#links}}
                                    <a href="#" class="confectionery-link">{{link}}</a>
                                {{/links}}
                            </li>
                        </ul>
                    </div>
                {{/items}}
            </div>
        </div>
    </div>
</div>