$title-color: rgba(27, 27, 27, 1);
$text-color: rgba(27, 27, 27, 0.9);

.collapsible {
    margin: 100px 50px;
    max-width: 1115px;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px;

    .collapsible__title {
        color: rgba(27, 27, 27, 1);
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 3%;
    }

    .collapsible-hidden {
        max-height: 180px;
        overflow: hidden;
        transition: max-height 0.4s ease;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

        &.collapsible_expand {
            max-height: none; 
            overflow: visible; 
            mask-image: none;
            -webkit-mask-image: none;
        }

        &.collapsible_unset {
            max-height: none;
            overflow: visible;
            mask-image: none;
            -webkit-mask-image: none;
        }
    }

    .collapsible__text {
        color: rgba(27, 27, 27, 0.9);
        font-size: 16px;
        line-height: 1.6;
    }

    .collapsible__toggle {
        text-decoration: underline;
        color: rgba(19, 19, 19, 0.7);
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        cursor: pointer;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0;

        &.active .collapsible__arrow {
            transform: rotate(180deg);
        }
    }

    .collapsible__arrow {
        display: inline-block;
        transition: transform 0.3s;
    }

    @media (max-width: 768px) {
        margin: 25px auto;

        .collapsible-hidden {
            max-height: 320px;
        }
    }
}