<div class="expander">
    <div class="expander__title">{{title}}</div>

    <div class="expander-hidden">
        <div class="expander__text">{{{text}}}</div>
    </div>

    <button class="expander__toggle">
        <span class="expander__toggle-text">{{buttonText}}</span>
        <span class="expander__arrow">
            <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.946667 0L4 3.09042L7.06 0L8 0.951417L4 5L0 0.951417L0.946667 0Z" fill="#1B1B1B" fill-opacity="0.9" />
            </svg>
        </span>
    </button>
</div>