.hero{
    margin: 250px 25px;
}

.wrapper{
    max-width: 1240px;
    margin: 0 auto;
}

.hero-content__title {
    font-size: 120px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.hero-content__subtitle {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    margin-bottom: 50px;
}

.hero-content__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
    border-bottom: 1px solid #000000;
    padding-bottom: 2px;
}

@media(max-width: 767px) {
    .hero{
        margin: 100px 25px;
    }

    .hero-content__title {
        font-size: 56px;
    }

    .hero-content__subtitle {
        font-size: 12px;
    }
}