<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <div class="hero__content-title">{{hero__content-title}}</div>
            <div class="hero__content-subtitle">{{hero__content-subtitle}}</div>
        </div>
    </div>
</section>