<div class="hero">
    <div class="wrapper">
        <div class="hero-wrapper">
            <div class="hero-content">
                <div class="hero-content__title">{{hero-content__title}}</div>
                <div class="hero-content__subtitle">{{hero-content__subtitle}}</div>
            </div>
        </div>
    </div>
</div>