.hero {
    margin: 125px 0;
    position: relative;
    z-index: 1;
}

.hero__title {
    display: block;
    font-size: 120px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: left;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(100px);
    animation: slideInRight 1s ease-out forwards;
}

.hero__title span {
    display: block;
    text-align: right;
}

.hero__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
    opacity: 0;
    transform: translateY(50px);
    animation: slideInUp 1s ease-out 0.3s forwards;
}

.hero__subtitle {
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -1%;
}

.hero__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.hero__icon-arrow {
    color: #ab0000;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}