<div class="news fade">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="news-title">{{news-title}}</div>
            <div class="news-list">
                {{#news-items}}
                    <div class="news-item">
                        <a href="#" class="news-item__title-wrap"><span class="news-item__title">{{news-item__title}}</span></a>
                        <div class="news-item__data">{{news-item__data}}</div>
                        <div class="news-item__subtitle">{{news-item__subtitle}}</div>
                        <a href="#" class="news-item__button">
                            {{news-item__button}}
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 10.59L6.88563 6L2.25 1.41L3.67713 0L9.75 6L3.67713 12L2.25 10.59Z" fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                {{/news-items}}
            </div>
            <a href="#" class="news-button">
                {{news-button}}
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 10.59L6.88563 6L2.25 1.41L3.67713 0L9.75 6L3.67713 12L2.25 10.59Z" fill="#333333" />
                </svg>
            </a>
        </div>
    </div>
</div>