.news__wrapper {
    padding: 140px 0 100px 0;
}

.news__title {
    color: #333333;
    font-size: 46px;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: -5%;
    text-align: center;
}

.news__title--mobile,
.news__list--item:last-child {
    display: none;
}

.news__list {
    display: flex;
    align-items: stretch;
    gap: 20px;
    padding: 80px 0;
}

.news__list--item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    cursor: pointer;
}

.news__item--title-wrapper {
    min-height: 115px;
    padding: 20px;
    border-bottom: 1px solid #E6E6E6;
}

.news__item--title {
    color: #333333;
    font-size: 22px;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: -3%;
    border-bottom: 2px solid #ffffff;
    transition: border-color .3s ease-in-out;
}

.news__item--title:hover {
    border-color: #333333;
}

.news__item--content {
    padding: 20px;
}

.news__item--date {
    color: #666666;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -5%;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.news__item--subtitle {
    color: #666666;
    line-height: 120%;
    letter-spacing: -5%;
}

.news__item--button {
    position: relative;
    overflow: hidden;
    margin-top: auto;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #808080;
    font-size: 14px;
    line-height: 100%;
    border: solid 1px #E6E6E6;
    border-radius: 0 5px;
    padding: 20px;
    z-index: 1;
    transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

.news__item--button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #FFD98C;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .3s ease-in-out;
    z-index: -1;
}

.news__list--item:hover .news__item--button::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

.news__list--item:hover .news__item--button {
    border-color: #FFD98C;
    color: #333333;
}

.news__button {
    width: 265px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    background-color: #FFD98C;
    box-shadow: 0 10px 50px 0 rgba(255, 196, 77, 0.4);
    border-radius: 5px;
    padding: 20px 30px;
}


@media(max-width: 1279px) {
    .news__wrapper {
        padding: 98px 0 80px 0;
    }

    .news__title {
        font-size: 42px;
    }

    .news__list {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 48px 0;
    }

    .news__list--item:last-child {
        display: flex;
    }

    .news__item--title-wrapper {
        padding: 20px 30px 20px 20px;
    }

    .news__item--title {
        font-size: 20px;
        line-height: 100%;
    }

    .news__item--content {
        padding: 20px 20px 31px 20px;
    }
}


@media(max-width: 767px) {
    .news__wrapper {
        padding: 64px 0;
    }

    .news__title--desktop {
        display: none;
    }

    .news__title--mobile {
        display: block;
        font-size: 36px;
    }

    .news__list {
        max-width: 500px;
        grid-template-columns: repeat(1, 1fr);
        padding: 32px 0;
    }

    .news__item--title-wrapper {
        min-height: 92px;
        padding: 16px;
    }

    .news__item--title{
        font-size: 16px;
    }

    .news__item--content{
        padding: 16px 16px 21px 16px;
    }
}