<div class="logistics fade">
    <div class="layout">
        <div class="logistics-title">{{logistics-title}}</div>
        <div class="logistics-list swiper">
            <div class="swiper-wrapper">
                {{#logistics-items}}
                    <div class="logistics-item swiper-slide">
                        <img class="logistics-item__icon" src="{{logistics-item__icon}}" alt="">

                        <div class="logistics-item__content">
                            <div class="logistics-content__title-wrap"><span class="logistics-content__title">{{logistics-content__title}}</span></div>
                            <div class="logistics-content__subtitle">{{logistics-content__subtitle}}</div>

                            <div class="logistics-content__list">
                                {{#logistics-content__items}}
                                    <div class="logistics-content__item">
                                        <div class="logistics-content__item-title">{{logistics-content__item-title}}</div>
                                        <div class="logistics-content__item-subtitle">{{logistics-content__item-subtitle}}</div>
                                    </div>
                                {{/logistics-content__items}}
                            </div>

                            <a href="#" class="logistics-content__link">{{logistics-content__link}}</a>
                        </div>
                    </div>
                {{/logistics-items}}
            </div>
        </div>
        <div class="logistics-pagination">
            <a href="#" class="logistics-button__left">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#292929">
                    <path d="M384-288 192-480l192-192 51 51-105 105h438v72H330l105 105-51 51Z" />
                </svg>
            </a>
            <div class="logistics-pagination__list">
                <div class="swiper-pagination">
                    {{#logistics-pagination__dots}}
                        <div class="logistics-pagination__dot"></div>
                    {{/logistics-pagination__dots}}
                </div>
            </div>
            <a href="#" class="logistics-button__right">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#292929">
                    <path d="m576-288-51-51 105-105H192v-72h438L525-621l51-51 192 192-192 192Z" />
                </svg>
            </a>
        </div>
    </div>
</div>