<div id="catalog-products" class="catalog-products fade">
    <div class="wrapper">
        <div class="catalog-products-content">
            <div class="catalog-products__content--title">{{catalog-products__content--title}}</div>
            <div class="catalog-products__content--subtitle">{{catalog-products__content--subtitle}}</div>

            <ul class="catalog-products__content-list">
                {{#catalog-products__content--links}}
                    <a href="#" data-filter="{{catalog-products__content--link}}" class="catalog-products__content--link">{{catalog-products__content--link}}</a>
                {{/catalog-products__content--links}}
            </ul>
        </div>

        <div class="catalog-products__wrapper">
            <div class="catalog-products__list">
                {{#catalog-products__items}}
                    <div class="catalog-products__item" data-category="{{catalog-products__item--category}}">
                        <img loading="lazy" class="catalog-products__item--image" src="{{catalog-products__item--image}}" alt="">

                        <div class="catalog-products__item--title">{{catalog-products__item--title}}</div>
                        <div class="catalog-products__item--content">
                            <div class="catalog-products__item--price">{{catalog-products__item--price}}</div>
                            <a href="#order-form" class="catalog-products__item--link">{{catalog-products__item--link}}</a>
                        </div>
                    </div>
                {{/catalog-products__items}}
            </div>
        </div>
    </div>
</div>