<div class="advantages">
    <div class="inner">
        <div class="advantages-title">{{advantages-title}}</div>
        <div class="advantages-desks">
            {{#advantages-desks}}
                <div class="advantages-desk">
                    <img class="desk-icon" src="{{desk-icon}}" alt="">
                    <div class="desk-content">
                        <div class="desk-title">{{desk-title}}</div>
                        <div class="desk-subtext">{{desk-subtext}}</div>
                    </div>
                </div>
            {{/advantages-desks}}
        </div>
    </div>
</div>