<div class="tabs">
    <div class="tab__main-title">{{title}}</div>

    <div class="tab-items-container">
        {{#items}}
            <div class="tab-item{{#opened}} tab-hidden_opened{{/opened}}">
                <div class="tab__trigger">
                    <span class="tab__title">{{title}}</span>
                    <span class="tab__icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.876 16.38V9.504H0V6.858H6.876V0H9.522V6.858H16.38V9.504H9.522V16.38H6.876Z" fill="rgba(47, 47, 48, 0.5)"/>
                        </svg>
                    </span>
                </div>
                <div class="tab-hidden">
                    {{{content}}}
                </div>
            </div>
        {{/items}}
    </div>
</div>
