.product-content {
    margin-top: 50px;
}

.products-list {
    display: flex;
    gap: 20px;
}

.products-link {
    font-size: 14px;
    color: #949795FF;
    transition: color .5s ease-in-out;

    &:hover {
        color: red;
    }
}

.products-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 25px;
    margin-top: 40px;
    max-height: 1400px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.products-cards_expand {
    max-height: 1000vh;
}

.products-cards_unset {
    max-height: none;
}

.card {
    width: 100%;
    transition: all .5s ease-in-out;

    &:hover {
        .card-title {
            text-decoration: underline;
        }
    }
}

.card-image {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #EBF1EE;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.card-content {
    margin-top: 10px;
}

.card-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-icon {
    display: inline-block;
    cursor: pointer;

    &:active {
        color: red;
    }
}

.card-price {
    color: #949795FF;
    font-size: 12px;
}

.card-price.has-discount {
    color: red;
}

.card-discount {
    color: #949795FF;
    font-size: 10px;
    text-decoration: line-through;
}

.products-button {
    display: block;
    margin: 75px auto 0;
    color: #949795FF;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 6px;
}

@media (max-width: 1280px) {
    .products-cards {
        grid-template-columns: repeat(3, 1fr);
        overflow-x: auto;
    }

    .card {
        width: 325px;
    }
}

@media (max-width: 768px) {
    .products-list {
        gap: 10px;
    }

    .products-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 275px;
    }
}