.products{
    margin: 148px 0;
}

.products-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    max-width: 200px;
    border-left: 3px solid #2D2926;
    padding-left: 3px;
}