<div class="products">
    <div class="wrapper">
        <div class="products-wrapper">
            <div class="products-dropdown__wrapper">
                <div class="products-dropdown">
                    <div class="products-dropdown__content">
                        <div class="products-dropdown__title">{{products-dropdown__title}}</div>
                        <div class="products-dropdown__value">{{products-dropdown__value}}</div>
                    </div>
                    <button class="products-dropdown__button">
                        <svg class="products-dropdown__icon" width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.946667 8.41102e-08L4 3.09042L7.06 1.12094e-08L8 0.951417L4 5L4.88183e-07 0.951417L0.946667 8.41102e-08Z" fill="#1B1B1B" fill-opacity="0.9" />
                        </svg>
                    </button>
                </div>
                <ul class="products-dropdown__list">
                    <li class="products-dropdown__item">
                        {{#products-dropdown__links}}
                            <a href="{{href}}" class="products-dropdown__link">{{products-dropdown__link}}</a>
                        {{/products-dropdown__links}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="products-items__list">
            {{#products-items}}
                <div class="products-item">
                    <div class="products-item__content">
                        <div class="products-item__title">{{products-item__title}}</div>
                        <div class="products-item__subtitle">{{products-item__subtitle}}</div>
                        <div class="products-item__price">{{products-item__price}}</div>
                        <div class="products-item__button">{{products-item__button}}</div>
                    </div>
                </div>
            {{/products-items}}
        </div>
    </div>
</div>