.header
  background-color: #EBF1EE
  color: #949795FF
  width: 100%

.header-inner
  max-width: 1140px
  width: 100%
  margin: 0 auto
  padding: 35px
  display: flex
  align-items: center
  justify-content: space-between

.header-left
  display: flex
  align-items: center
  gap: 70px

.logo
  text-transform: uppercase
  font-size: 26px
  font-weight: 600
  color: #000000

.menu-list
  display: flex
  gap: 25px
  position: static
  opacity: 1
  transform: none
  pointer-events: auto

.menu-link
  font-size: 14px
  transition: color .5s ease-in-out

  &:hover
    color: #000000

.header-right
  display: flex
  align-items: center
  gap: 25px

.header-list
  display: flex
  gap: 15px

.header-burger
  position: relative
  width: 15px
  height: 15px
  display: flex
  align-items: center
  justify-content: center
  opacity: 0

.open, .close
  position: absolute
  transition: opacity 0.3s ease, transform 0.3s ease
  width: 24px
  height: 24px

.open
  opacity: 1
  transform: scale(1)
  pointer-events: auto

.close
  opacity: 0
  transform: scale(0.8) rotate(-90deg)
  pointer-events: none

.header-burger.active .open
  opacity: 0
  transform: scale(0.8) rotate(90deg)
  pointer-events: none

.header-burger.active .close
  opacity: 1
  transform: scale(1) rotate(0deg)
  pointer-events: auto

@media(max-width: 768px)

  .header-inner
    padding: 40px 25px 

  .menu-list
    position: absolute
    top: 3%
    left: 0
    width: 100%
    flex-direction: column
    gap: 10px
    padding: 0 25px
    background: #EBF1EE
    opacity: 0
    transform: translateY(10px)
    pointer-events: none
    transition: opacity 0.4s ease, transform 0.4s ease
    z-index: 1

  .menu-list.active
    opacity: 1
    transform: translateY(0)
    pointer-events: auto

  .header-list
    gap: 15px

  .header-burger
    opacity: 1

  