$text: #00091A;
$subtext: #62656A;
$bg: #F2F2F2;
$white: #fff;
$border: #E6E6E6;
$red: #FF022C;
$red-light: #FFD6DD;
$pink-bg: #FFF5F7;
$pink-text: #FFB8C4;

.services {
    background-color: $bg;
}

.services-wrapper {
    padding: 128px 0;
}

.services-title {
    color: $text;
    font-size: 56px;
    text-align: center;
    line-height: 120%;
    letter-spacing: -4%;
    margin-bottom: 64px;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
}

.services-card {
    display: flex;
    flex-direction: column;
    max-width: 392px;
    width: 100%;
    grid-column: span 2;
    padding: 32px 0 32px 32px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 16px;
    transition: box-shadow .3s ease;
    cursor: pointer;
}

.services-card:hover {
    box-shadow: 0 4px 0 0 rgba(235, 235, 235, 1);
}

.services-card:nth-child(1),
.services-card:nth-child(2) {
    grid-column: span 3;
    max-width: 600px;
}

.services-card:nth-child(1) .card-wrapper,
.services-card:nth-child(2) .card-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 48px;
    margin-bottom: 25px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 16px;
}

.card-title {
    display: inline;
    color: $text;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -2%;
    transition: box-shadow .3s ease;
}

.services-card:hover .card-title {
    box-shadow: inset 0 -8px 0 0 $red-light;
}

.card-button {  
    display: none;
}

.card-block {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.card-subtitle {
    color: $subtext;
    line-height: 160%;
    letter-spacing: 2%;
    margin-bottom: 32px;
}

.card-link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    max-width: 251px;
    margin-top: auto;
    padding: 23px 30px;
    border: 1px solid $red;
    border-radius: 5px;
    transition: box-shadow .3s ease;
}

.services-card:hover .card-link {
    background-color: $red;
    border-color: $red;
}

.card-link svg {
    color: $red;
    transition: color .3s ease;
}

.services-card:hover .card-link svg {
    color: $white;
}

.link-title {
    display: none;
    color: $white;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 10%;
    text-transform: uppercase;
    transition: color .3s ease;
}

.services-card:hover .link-title {
    display: block;
}

@media(max-width: 1279px) {
    .services-wrapper {
        padding: 64px 32px;
    }

    .card-wrapper {
        gap: 32px;
        margin-bottom: 16px;
    }

    .card-content {
        margin-bottom: 0;
    }

    .services-title {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .services-cards {
        margin: 0 auto;
        max-width: 704px;
        grid-template-columns: repeat(4, 1fr);
    }

    .services-card:nth-child(1) {
        grid-column: span 4;
        max-width: 704px;
    }

    .services-card:nth-child(1) .card-wrapper {
        gap: 32px;
        margin-bottom: 35px;
    }

    .services-card:nth-child(2) .card-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .services-card:nth-child(2) .card-content {
        margin-bottom: 0;
    }

    .services-card:not(:nth-child(1)) {
        grid-column: span 2;
        max-width: 344px;
    }

    .services-card{
        padding: 24px 24px 32px 24px;
    }

    .card-title {
        font-size: 22px;
    }

    .card-subtitle {
        margin-bottom: 40px;
    }

    .card-link {
        border-color: $subtext;
    }

    .link-title {
        display: block;
        color: $subtext;
    }

    .services-card:hover .link-title {
        color: $white;
    }

    .card-link svg {
        display: none;
    }
}

@media(max-width: 767px) {
    .services-wrapper {
        padding: 48px 24px;
    }

    .card-wrapper {
        margin-bottom: 16px;
        gap: 0;
    }

    .card-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .services-title {
        font-size: 33px;
        margin-bottom: 24px;
    }

    .services-cards {
        display: flex;
        flex-direction: column;
    }

    .services-card {
        padding: 16px;
        max-width: 100% !important;
    }

    .services-card:nth-child(1),
    .services-card:nth-child(2) {
        max-width: 100%;
    }

    .services-card:nth-child(1) .card-wrapper,
    .services-card:nth-child(2) .card-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .services-card:nth-child(1) .card-content,
    .services-card:nth-child(2) .card-content {
        margin-bottom: 16px;
    }

    .card-button {
        color: $pink-text;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 11px;
        background-color: $pink-bg;
        border-radius: 48px;
        width: 32px;
        height: 32px;
        transition: .3s;
    }

    .card-button.active {
        background-color: $red;
        color: $white;
        transform: rotate(180deg);
    }

    .card-block {
        display: none;
    }

    .block_opened {
        display: block;
    }

    .card-title{
        font-size: 18px;
    }

    .services-card:hover .card-title{
        box-shadow: none;
    }

    .card-subtitle{
        margin-bottom: 24px;
    }

    .card-link{
        border-color: $red;
        background-color: $red;
    }

    .link-title{
        color: $white;
    }
}