<div class="advantages fade">
    <div class="layout">
        <div class="advantages-title">{{advantages-title}}</div>
        <div class="advantages-list">
            {{#advantages-items}}
                <div class="advantages-item">
                    <img class="advantages-item__icon" src="{{advantages-item__icon}}" alt="">
                    <div class="advantages-item__content">
                        <div class="advantages-item__title">{{advantages-item__title}}</div>
                        <div class="advantages-item__subtitle">{{advantages-item__subtitle}}</div>
                    </div>
                </div>
            {{/advantages-items}}
        </div>
    </div>
</div>