.cases {
    margin: 128px auto;
}

.cases-cap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.cases-cap__title {
    color: #00091A;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -4%;
}

.cases-cap__links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cases-button__left,
.cases-button__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 24px 20px;
    border-radius: 64px;
    border: solid 1px #FFFFFF;
    transition: border .3s ease, box-shadow .3s ease;
}

.cases-button__left:hover,
.cases-button__right:hover {
    border-color: #F2F2F2;
    box-shadow: 0 4px 0 0 #F7F7F7;
}

.cases-button__left.is-disabled,
.cases-button__right.is-disabled {
    opacity: 0.3;
    pointer-events: none;
}


.cases-list .swiper-wrapper {
    display: flex;
}

.cases-item {
    max-width: 392px;
    border: solid 1px #E6E6E6;
    border-radius: 16px;
    box-shadow: 0 4px 0 0 #F7F7F7;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.cases-item:hover {
    box-shadow: 0 4px 0 0 #EBEBEB;
}

.cases-item__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.cases-item__image {
    width: 376px;
    height: 204px;
    border-radius: 12px;
    margin-bottom: 32px;
}

.cases-item__content {
    max-width: 328px;
    margin-bottom: 46px;
}

.cases-item__title {
    display: inline-block;
    color: #303236;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -1%;
    margin-bottom: 8px;
    transition: box-shadow .3s ease;
}

.cases-item:hover .cases-item__title {
    box-shadow: inset 0 -8px 0 0 #FFD6DD;
}

.cases-item__subtext {
    color: #97989B;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 10%;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.cases-item__subtitle {
    color: #62656A;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 2%;
}

.cases-item__link-text {
    display: none;
}

.cases-item__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 0;
    background-color: #F7F7F7;
    padding: 32px;
    text-align: center;
    transition: background-color .3s ease;
}

.cases-item:hover .cases-item__list {
    background-color: inherit;
}

.cases-features__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}

.cases-features__title {
    color: #7C7E83;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2%;
    transition: color .3s ease;
}

.cases-item:hover .cases-features__title {
    color: #00091A;
}

.cases-item__link {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    max-width: 328px;
    margin: 32px auto;
    color: #62656A;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    padding: 21px 32px 19px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s ease, color .3s ease;
}

.cases-item__link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #FF022C;
    transition: height .3s ease;
    z-index: -1;
}

.cases-item:hover .cases-item__link {
    border-color: #FF022C;
    color: #FFFFFF;
}

.cases-item:hover .cases-item__link::before {
    height: 100%;
}

.cases-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 40px 0 64px 0;
}

.hidden-button {
    display: none;
}

.cases-pagination__list .swiper-pagination {
    display: flex;
    align-items: center;
    gap: 6px;
}

.cases-pagination__dot {
    width: 8px;
    height: 8px;
    background-color: #FFD6DD;
    border-radius: 8px;
    cursor: pointer;
}

.cases-link {
    position: relative;
    overflow: hidden;
    z-index: 1;
    max-width: 251px;
    margin: 0 auto;
    display: block;
    color: #62656A;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    border-radius: 5px;
    border: solid 1px #62656A;
    padding: 21px 32px 19px;
    text-transform: uppercase;
    text-align: center;
    transition: background-color .3s ease, color .3s ease;
}

.cases-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #FF022C;
    transition: height .3s ease;
    z-index: -1;
}

.cases-link:hover {
    border-color: #FF022C;
    color: #FFFFFF;
}

.cases-link:hover::before {
    height: 100%;
}

@media(max-width: 1279px) {
    .cases {
        margin: 64px 32px;
    }

    .cases-cap {
        justify-content: center;
        margin-bottom: 40px;
    }

    .cases-cap__title {
        font-size: 48px;
        text-align: center;
    }

    .cases-cap__links,
    .cases-link,
    .cases-item__link {
        display: none;
    }

    .cases-item {
        max-width: 704px;
    }

    .cases-item__wrapper {
        padding: 8px;
        flex-direction: row;
        gap: 32px;
    }

    .cases-item__image {
        width: 272px;
        height: 224px;
        margin: 0;
    }

    .cases-item__title {
        font-size: 28px;
    }

    .cases-item__subtitle {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .tablet-text {
        display: block;
        max-width: 99px;
        color: #62656A;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 10%;
        padding: 13px 16px 11px;
        border: solid 1px #62656A;
        border-radius: 5px;
        text-transform: uppercase;
        transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    }

    .tablet-text:hover {
        color: #FFFFFF;
        background-color: #FF022C;
        border-color: #FF022C;
    }

    .cases-item__list {
        display: flex;
        text-align: start;
        gap: 28px;
        margin: 16px 9px 12px 9px;
        padding: 20px 21px;
        border-radius: 12px;
    }

    .cases-item__features {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .cases-features__icon {
        color: #00091A;
        margin: 0;
    }

    .cases-features__title {
        color: #00091A;
        font-weight: 600;
        font-size: 10px;
    }

    .hidden-button {
        display: block;
    }

    .cases-pagination {
        margin: 32px;
    }
}

@media(max-width: 767px) {
    .cases {
        margin: 48px 24px;
    }

    .cases-cap {
        margin-bottom: 24px;
    }

    .cases-cap__title {
        font-size: 33px;
    }

    .cases-item {
        max-width: 272px;
        max-height: 695px;
    }

    .cases-item__wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .cases-item__image {
        width: 256px;
        height: 188px;
    }

    .cases-item__content {
        max-width: 224px;
        margin: 0;
    }

    .cases-item__title {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .cases-item__subtitle {
        font-size: 12px;
        font-weight: 400;
    }

    .tablet-text {
        display: none;
    }

    .mobile-text {
        display: block;
        width: 100%;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 10%;
        background-color: #FF022C;
        border-radius: 5px;
        padding: 21px 32px 19px 32px;
        text-align: center;
        text-transform: uppercase;
    }

    .cases-item__list {
        flex-direction: column;
        padding: 24px;
        margin: 16px 9px 12px 9px;
    }

    .cases-item__features {
        gap: 16px;
    }

    .cases-pagination {
        gap: 16px;
        margin: 32px;
    }

    .cases-button__left,
    .cases-button__right {
        width: 48px;
        height: 48px;
        padding: 18px 15px;
    }
}