.solutions {
    max-width: 1546px;
    margin: 128px auto;
}

.solutions-sourcing {
    max-width: 1388px;
    margin: 0 0 119px 158px;
}

.sourcing-wrapper {
    display: flex;
    gap: 37px;
}

.sourcing-content__title,
.consulting-content__title {
    color: #00091A;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2%;
    margin-bottom: 24px;
}

.sourcing-content__subtitle {
    color: #62656A;
    line-height: 160%;
    letter-spacing: 2%;
    margin-bottom: 48px;
}

.sourcing-content__links,
.consulting-content__links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sourcing-link__more {
    width: 144px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    background-color: #FF022C;
    border-radius: 5px;
    padding: 21px 32px 19px;
    text-align: center;
    text-transform: uppercase;
}

.sourcing-link__application {
    width: 189px;
    height: 56px;
    color: #62656A;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    border: solid 1px #62656A;
    border-radius: 5px;
    padding: 21px 32px 19px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease;
}

.sourcing-link__application:hover,
.consulting-link__more:hover {
    background-color: #FF022C;
    border-color: #FF022C;
    color: #FFFFFF;
}

.sourcing-image {
    max-width: 751px;
    height: 457px;
}

.solutions-consulting {
    max-width: 1382px;
    margin: 0 164px 0 0;
}

.consulting-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.consulting-content {
    height: 100%;
    order: 1;
}

.consulting-content__subtitle {
    color: #62656A;
    line-height: 160%;
    letter-spacing: 2%;
    margin-bottom: 24px;
}

.consulting-content__list {
    max-width: 458px;
    margin-bottom: 48px;
}

.consulting-list__title {
    color: #00091A;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -1%;
    margin-bottom: 16px;
}

.consulting-list__items {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.consulting-list__item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.consulting-item__icon {
    margin-top: 5px;
    flex-shrink: 0;
}

.consulting-item__title {
    color: #62656A;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 2%;
}

.consulting-link__consultation {
    width: 249px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    background-color: #FF022C;
    border-radius: 5px;
    padding: 21px 32px 19px;
    text-align: center;
    text-transform: uppercase;
}

.consulting-link__more {
    width: 144px;
    height: 56px;
    color: #62656A;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    border: solid 1px #62656A;
    border-radius: 5px;
    padding: 21px 32px 19px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease;
}

.consulting-content__image {
    order: 0;
}

.consulting-image {
    max-width: 675px;
}

.consulting-content__description {
    max-width: 586px;
    border-radius: 16px;
    border: solid 1px #F2F2F2;
    box-shadow: 0 4px 0 0 #F7F7F7;
    margin: 47px auto 0 auto;
}

.consulting-description__item {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 23px 32px 26px 30px;
}

.consulting-description__text {
    color: #97989B;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1%;
}

@media(max-width: 1279px) {
    .solutions {
        margin: 70px 32px 64px 32px;
    }

    .solutions-sourcing {
        margin: 0 0 64px;
    }

    .sourcing-wrapper,
    .consulting-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .sourcing-content,
    .consulting-content {
        background-color: #F7F7F7;
        border-radius: 16px;
        padding: 52px;
    }

    .sourcing-content__title,
    .consulting-content__title {
        font-size: 40px;
    }

    .sourcing-content__subtitle {
        margin-bottom: 40px;
    }

    .sourcing-image {
        max-width: 757px;
        height: 439px;
    }

    .solutions-consulting {
        margin: 0;
    }

    .consulting-list__title {
        font-size: 18px;
    }

    .consulting-content__image {
        order: 1;
    }

    .consulting-image {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .solutions {
        margin: 48px 17px;
    }

    .solutions-sourcing {
        margin: 0 0 48px 0;
    }

    .sourcing-content,
    .consulting-content {
        order: 1;
        padding: 0;
        background-color: inherit;
    }

    .sourcing-content__title,
    .consulting-content__title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .sourcing-content__subtitle {
        font-size: 14px;
        line-height: 170%;
        margin-bottom: 32px;
    }

    .sourcing-content__links,
    .consulting-content__links {
        flex-direction: column;
    }

    .sourcing-link__more,
    .sourcing-link__application,
    .consulting-link__consultation,
    .consulting-link__more {
        width: 100%;
    }

    .sourcing-image {
        width: 100%;
        height: auto;
    }

    .solutions-consulting {
        margin: 0;
    }

    .consulting-content__list {
        margin-bottom: 32px;
    }

    .consulting-list__title {
        font-size: 14px;
    }

    .consulting-list__items {
        gap: 48px;
    }

    .consulting-content__image {
        order: 0;
    }

    .consulting-image {
        width: 100%;
        height: auto;
    }

    .consulting-content__description {
        margin: 16px auto 0 auto;
    }

    .consulting-description__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .consulting-item__title {
        font-weight: 400;
    }
}