.task-duo {
    background-color: rgba(255, 255, 255, 1);
    margin: 40px 0;
    padding: 40px 0 0 0;

    .container {
        .task-duo__new {
            .new-content__text {
                max-width: 1170px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 28px;

                .new-content__title {
                    font-size: 28px;
                    line-height: 24px;
                    font-weight: 700;
                    color: rgba(38, 32, 36, 1);
                }

                .new-content__subtitle {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    color: rgba(117, 117, 117, 0.8);
                }
            }
        }

        .task-duo__hits {
            .hits-content__text {
                max-width: 1170px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 28px;

                .hits-content__title {
                    font-size: 28px;
                    line-height: 24px;
                    font-weight: 700;
                    color: rgba(38, 32, 36, 1);
                }

                .hits-content__subtitle {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    color: rgba(117, 117, 117, 0.8);
                }
            }
        }

        .task-list {
            display: flex;
            text-align: center;

            .task-item {
                position: relative;
                padding: 17px 17px 32px 17px;
                border: 1px solid rgba(238, 238, 238, 1);
                margin-bottom: 40px;
                max-width: 292px;
                width: 100%;

                .task-item__image {
                    max-width: 256px;
                    width: 100%;
                    height: auto;
                }

                .task-item__logo {
                    display: none;
                    position: absolute;
                    padding: 9px 8px 7px 8px;
                    left: 202px;
                    top: 27px;
                    border-radius: 20px;
                    width: 36px;
                    height: 36px;
                    background-color: rgba(255, 255, 255, 1);
                    cursor: pointer;

                    svg {
                        transition: fill 0.3s ease, fill-opacity 0.3s ease;
                        fill: rgba(38, 32, 36, 0.4);
                    }

                    &.active {
                        display: block;

                        svg {
                            fill: rgba(255, 109, 0, 1);
                        }
                    }
                }

                .item-title {
                    padding: 15px 17px 10px 17px;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    color: rgba(29, 32, 41, 1);
                    margin-bottom: 20px;
                }

                .product-info__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .product-info__icon img {
                        margin-right: 6px;
                        width: 14px;
                        height: 12px;
                    }

                    .product-info__label,
                    .product-info__value {
                        font-size: 12px;
                        line-height: 15px;
                        color: rgba(102, 102, 102, 1);
                    }
                }

                .item-price {
                    margin-top: 30px;
                    font-size: 22px;
                    line-height: 15px;
                    font-weight: 700;
                    color: rgba(38, 32, 36, 1);

                    span {
                        font-size: 16px;
                        line-height: 15px;
                        font-weight: 400;
                        color: rgba(38, 32, 36, 0.5);
                        text-decoration: line-through;
                    }
                }

                &:nth-child(1) {
                    border-radius: 18px 0 0 18px;

                    .item-price {
                        color: rgba(255, 109, 0, 1);
                    }
                }

                &:last-child {
                    border-radius: 0 18px 18px 0;
                }

                &:hover {
                    .task-item__logo {
                        display: block;
                    }
                }
            }
        }
    }
}