$background: rgba(255, 255, 255, 1);
$color: rgba(27, 27, 27, 0.4);
$color-active: rgba(228, 45, 60, 1);
$color-hover: rgba(27, 27, 27, 0.9);

.inner{
    margin: 5px;
}

.sorting{
    background-color: $background;
    max-width: 350px;
    border-radius: 8px;
}

.sorting-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1.5px rgba(229, 229, 229, 1);
    border-radius: 8px;
    padding: 10px 15px;
}

.sorting-content{
    display: flex;
    align-items: center;
    gap: 8px;
}

.sorting-title{
    color: $color;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}

.sorting-value{
    color: $color-hover;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}

.sorting-arrow{
    display: inline-block;
    vertical-align: middle;
    transition: transform .3s ease;
}

.sorting.dropdown_expand 
.sorting-arrow {
    transform: rotate(180deg);
}

.sorting-list{
    max-height: 0;
    overflow: hidden;
    transition:  max-height .3s ease;
}

.sorting.sorting.dropdown_expand 
.sorting-list {
    display: block;
    max-height: 500px;
}

.sorting-item{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 15px 0 20px 15px;
}

.sorting-link{
    color: $color;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    transition: color .3s ease;

    &:hover{
        color: $color-hover;
    }

    &.active{
        color: $color-active;
    }
}