<div class="inner">
    <div class="sort">
        <div class="sort-wrapper">

            <div class="sort-content">
                <div class="sort-title">{{title}}</div>
                <div class="sort-value">{{value}}</div>
            </div>

            <button class="sort-button">
                <svg class="sort-arrow" width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.946667 8.41102e-08L4 3.09042L7.06 1.12094e-08L8 0.951417L4 5L4.88183e-07 0.951417L0.946667 8.41102e-08Z" fill="#1B1B1B" fill-opacity="0.9" />
                </svg>
            </button>

        </div>

        <ul class="sort-list">
            <li class="sort-item">
                {{#links}}
                    <a href="{{href}}" class="sort-link">{{link}}</a>
                {{/links}}
            </li>
        </ul>

    </div>
</div>