<div class="swiper">
  <div class="section-title">{{generalTitle}}</div> 
  
  <div class="swiper-wrapper">
    {{#slides}}
    <div class="swiper-slide">
      <img class="general" src="{{image}}" alt="">
      <div class="stock-badge">{{stock}}</div> 
      <div class="slide-title">{{title}}</div> 
      <div class="content-footer">
        <div class="cta-link">{{link}}</div> 
        <img src="{{images}}" alt="">
      </div>
    </div>
    {{/slides}}
  </div>
</div>