.footer
  margin-top: 75px
  background-color: #EBF1EE
  color: #949795FF

.footer-content
  display: flex
  justify-content: space-between
  gap: 25px

.about
  max-width: 300px

.about-title, 
.navigation-title, 
.signUp-title
  font-weight: 400
  font-size: 14px
  color: #000000


.about-description
  font-size: 12px
  font-weight: 500
  line-height: 1.5

.navigation-list  
  display: flex
  flex-direction: column
  gap: 5px

.navigation-link
  font-size: 12px
  transition: color .5s ease-in-out

  &:hover
    color: #000000


.footer-form
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #949795FF
  padding-bottom: 10px

  input
    font-size: 12px
    border: none
    background: transparent
    outline: none

  button
    font-size: 12px
    background: transparent
    border: none
    cursor: pointer
    transition: color .3s ease

    &:hover
      color: #000

@media (max-width: 768px)

  .footer-content
    flex-direction: column
    gap: 50px


 
