<section class="resorts">
    <div class="resorts__container container">
        <div class="resorts__top">
            <div class="resorts__top-title">{{resorts__top-title}}</div>

            <div class="resorts__top-navigation">
                <button class="resorts__navigation-button resorts__navigation-button--prev">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                        <path opacity="0.3" d="m360-200 57-56-184-184h647v-80H233l184-184-57-56-280 280 280 280Z" />
                    </svg>
                </button>
                <button class="resorts__navigation-button resorts__navigation-button--next">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                        <path opacity="0.3" d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="resorts__wrapper swiper">
            <div class="resorts__grid swiper-wrapper">
                {{#resorts__items}}
                    <div class="resorts__item swiper-slide">
                        <img loading="lazy" src="{{resorts__item-image}}" alt="" class="resorts__item-image">

                        <div class="resorts__item-content">
                            <div class="resorts__item-title">{{resorts__item-title}}</div>
                            <div class="resorts__item-subtitle">{{resorts__item-subtitle}}</div>

                            <a href="#" class="resorts__item-link">{{resorts__item-link}}</a>
                        </div>
                    </div>
                {{/resorts__items}}
            </div>
        </div>
    </div>
</section>