<div class="general">
    <div class="inner">
        <div class="general-wrapper">
            <div class="general-content">
                <div class="content-title">{{content-title}}</div>
                <div class="content-subtext">{{content-subtext}}</div>
                <a href="#" class="content-link">{{content-link}}</a>
            </div>
        </div>
    </div>
</div>