.task-viewed {
    margin: 7px 0;
    border-top: 1px solid rgba(38, 32, 36, 0.1);
    border-bottom: 1px solid rgba(38, 32, 36, 0.1);

    .task-viewed__wrapper {
        padding: 30px 0;


        .task-viewed__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .task-viewed__title {
                font-size: 20px;
                line-height: 24px;
                font-weight: 700;
                color: rgba(38, 32, 36, 1);
            }

            .task-viewed__arrows {
                display: none;
                align-items: center;
                gap: 16px;

                .task-viewed__arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 26px;
                    height: 26px;
                    background-color: rgba(38, 32, 36, 0.05);
                    border-radius: 30px;
                    cursor: pointer;

                    svg {
                        width: 6px;
                        height: 10px;
                    }
                }
            }
        }

        .viewed-list {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 16px;

            .viewed-item {
                border: 1px solid rgba(238, 238, 238, 1);
                display: flex;
                align-items: center;
                width: 324px;
                border-radius: 18px;
                background-color: rgba(255, 255, 255, 1);
                padding: 20px 13px 20px 17px;
                gap: 24px;

                .viewed-item__image {
                    width: 112px;
                    height: 112px;
                }

                .item-content__text {
                    width: 158px;

                    .item-content__title {
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 600;
                        color: rgba(38, 32, 36, 1);
                        margin-bottom: 12px;
                    }

                    .item-content__price {
                        font-size: 22px;
                        line-height: 15px;
                        font-weight: 700;
                        color: rgba(38, 32, 36, 1);
                        margin-right: 12px;

                        span {
                            text-decoration: line-through;
                            font-size: 16px;
                            line-height: 15px;
                            color: rgba(38, 32, 36, 0.5);
                        }
                    }
                }

                &:nth-child(1) {
                    .item-content__price {
                        color: rgba(255, 109, 0, 1);
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .task-viewed {
        border: none;
        overflow: hidden;
        width: 100%;
        max-width: 768px;

        .container {

            .task-viewed__content {
                width: 100%;
                display: flex;

                .task-viewed__arrows {
                    display: flex;

                    .task-viewed__arrow--next {
                        background-color: rgba(38, 32, 36, 0.1);
                    }
                }
            }

            .viewed-list {
                .viewed-item {
                    width: 224px;
                    padding: 12px;

                    .viewed-item__image {
                        width: 61px;
                        height: 61px;
                    }

                    .item-content__text {
                        width: 121px;

                        .item-content__title {
                            font-size: 11px;
                            line-height: 14px;
                        }

                        .item-content__price {
                            font-size: 18px;

                            span {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

        }
    }
}