<div class="task-viewed">
    <div class="container">
        <div class="task-viewed__wrapper">
            <div class="task-viewed__content">
                <div class="task-viewed__title">{{title}}</div>
                <div class="task-viewed__arrows">
                    <div class="task-viewed__arrow task-viewed__arrow--prev">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 8.8639L2.2915 5.1999L6 1.5279L4.8583 0.399902L0 5.1999L4.8583 9.9999L6 8.8639Z" fill="#262024" fill-opacity="0.3" />
                        </svg>
                    </div>
                    <div class="task-viewed__arrow task-viewed__arrow--next">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 1.1361L3.7085 4.8001L0 8.4721L1.1417 9.6001L6 4.8001L1.1417 0L0 1.1361Z" fill="#262024" fill-opacity="0.8" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="viewed-list">
                {{#items}}
                    <div class="viewed-item">
                        {{#image}}
                            <img src="{{image}}" alt="{{imageAlt}}" class="viewed-item__image">
                        {{/image}}
                        <div class="item-content__text">
                            <div class="item-content__title">{{itemTitle}}</div>
                            <div class="item-content__price">{{{itemPrice}}}</div>
                        </div>
                    </div>
                {{/items}}
            </div>
        </div>
    </div>
</div>