.section {
    background-color: #EBF1EE;
}

.inner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 35px;
}

.section-slider {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.section-wrapper {
    display: flex;
}

.section-slide {
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.section-background {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.section-content {
    padding: 100px 0;
}

.content-title {
    font-size: 64px;
    margin-bottom: 15px;
}

.content-description {
    max-width: 600px;
    color: #949795FF;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.content-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

@media (max-width: 1280px) {

    .content-description{
        max-width: 400px;
    }

}

@media (max-width: 768px) {

    .inner{
        padding: 0 25px;
    }

    .section-background{
        display: none;
    }

    .section-content{
        text-align: center;
    }

    .content-title {
        font-size: 84px;
    }

    .content-description{
        margin: 40px auto;
    }

    .content-button{
        justify-content: center;
    }

}