<div class="section">
    <div class="inner">
        <div class="section-slider swiper">
            <div class="section-wrapper swiper-wrapper">
                {{#slides}}
                    <div class="section-slide swiper-slide">
                        <div class="section-background" style="background-image: url('{{background}}')"></div>
                        <div class="section-content">
                            <div class="content-title">{{titleDesktop}}</div>
                            <div class="content-description">{{description}}</div>
                            <a class="content-button" href="{{link}}">
                            {{titleLink}}
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="M232-444v-72h496v72H232Z"/></svg>
                            </a>
                        </div>
                    </div>
                {{/slides}}
            </div>
        </div>
    </div>
</div>