.disclosure {
    margin: 200px 0;
    padding: 64px 0;
}

.disclosure__main {
    display: flex;
    gap: 25px;
    align-items: stretch;
}

.disclosure__title {
    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -5%;
    margin-top: auto;
}

.disclosure__accordion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 15px;
}

.disclosure__item {
    position: relative;
    width: 300px;
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: color .5s ease-in-out;
    min-height: 180px;
}

.disclosure__item:nth-child(1) {
    color: #FFFFFF;
    background-color: #FFA2B9;
}

.disclosure__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #FFA2B9;
    z-index: 0;
    transition: height .5s ease-in-out;
    border-radius: 5px;
}

.disclosure__item:hover::before,
.disclosure__item.disclosure__opened::before {
    height: 100%;
}

.disclosure__item:hover,
.disclosure__item.disclosure__opened {
    color: #FFFFFF;
}

.disclosure__item-number,
.disclosure__item-container,
.disclosure__item-subtitle {
    position: relative;
    z-index: 1;
}

.disclosure__item-number {
    font-size: 54px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -3%;
    transform: scaleY(1.1);
    margin-bottom: 30px;
}

.disclosure__item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disclosure__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -4%;
}

.disclosure__button-icon {
    display: block;
    transform: rotate(45deg);
    transition: transform .5s ease-in-out;
}

.disclosure__opened .disclosure__button-icon {
    transform: rotate(0deg);
}

.disclosure__item-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out, opacity .5s ease-in-out, margin-top .5s ease-in-out;
}

.disclosure__opened .disclosure__item-subtitle {
    margin-top: 25px;
    max-height: 200px;
    opacity: 1;
}

@media(max-width: 1279px) {

    .disclosure {
        margin: 150px 0;
        padding: 48px 0;
    }

    .disclosure__main {
        max-width: 1000px;
        margin: 0 auto;
        flex-direction: column;
    }

    .disclosure__title {
        margin-bottom: 24px;
        text-align: center;
    }

    .disclosure__item {
        width: 100%;
        padding: 25px;
    }
}

@media(max-width: 767px){

    .disclosure{
        margin: 100px 0;
        padding: 20px 0;
    }

    .disclosure__main{
        max-width: 500px;
    }

    .disclosure__title{
        font-size: 48px;
        line-height: 92%;
        margin-bottom: 15px;
    }

    .disclosure__accordion{
        grid-template-columns: repeat(1 , 1fr);
        gap: 10px;
    }
}