.task-catalog {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  gap: 20px 16px;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.task-catalog .task-catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  height: 148px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  padding: 5px 0 0 25px;
  background-color: rgba(232, 232, 232, 0.5);
  border-radius: 10px;
}
.task-catalog .task-catalog__item .task-catalog__title {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: rgb(38, 32, 36);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.task-catalog .task-catalog__item .task-catalog__image {
  width: 125px;
  height: 125px;
}
.task-catalog .task-catalog__item:hover {
  background-color: rgb(255, 109, 0);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}
.task-catalog .task-catalog__item:hover .task-catalog__title {
  color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .container {
    width: 312px;
    height: 612px;
    margin: 0 auto;
    padding: 0;
  }
  .container .task-catalog {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .task-catalog .task-catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 10px;
    width: 146px;
    height: 138px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 75px;
    height: 75px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 17px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .container .task-catalog {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .container .task-catalog .task-catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    width: 100%;
    padding: 10px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__image {
    width: 70px;
    height: 70px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__title {
    font-size: 20px;
    margin-right: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    max-width: 1023px;
  }
  .container .task-catalog {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
  .container .task-catalog .task-catalog__item {
    width: 100%;
    padding: 28px 58px 28px 16px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 70px;
    height: 70px;
    margin-right: 12px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .container .task-catalog .task-catalog__item .task-catalog__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 19px;
    white-space: nowrap;
  }
}
.container {
  width: 1170px;
}
.container .task-slider {
  position: relative;
  overflow: hidden;
  width: 1170px;
  background-color: rgb(232, 232, 232);
  margin: 0 auto;
}
.container .task-slider .task-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .task-slider .task-slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  position: relative;
}
.container .task-slider .task-slider__content {
  padding: 76px 0 102px 66px;
  width: 575px;
}
.container .task-slider .task-slider__logo {
  width: 209px;
  height: 66px;
  margin-bottom: 27px;
}
.container .task-slider .task-slider__title {
  font-size: 32px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 52px;
  color: rgb(38, 32, 36);
}
.container .task-slider .task-slider__button {
  border: 1.5px solid rgb(38, 32, 36);
  color: rgb(38, 32, 36);
  border-radius: 30px;
  padding: 18px 35px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  font-weight: 600;
}
.container .manual-wrapper {
  display: none;
}
.container .manual-wrapper .task-slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
  margin: 20px auto;
}
.container .manual-wrapper .task-slider__pagination .manual-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(23, 23, 23, 0.2);
}
.container .manual-wrapper .task-slider__pagination .manual-bullet.active {
  background-color: rgba(23, 23, 23, 0.7);
  width: 12px;
  height: 12px;
}

@media (max-width: 480px) {
  .container {
    max-width: 479px;
  }
  .container .task-slider {
    width: 100%;
  }
  .container .task-slider .task-slider__content {
    padding: 156px 25px 58px 25px;
  }
  .container .task-slider .task-slider__logo {
    width: 195px;
    height: 62px;
    margin-bottom: 12px;
  }
  .container .task-slider .task-slider__title {
    width: 239px;
    font-size: 20px;
    line-height: 26px;
  }
  .container .task-slider .task-slider__button {
    padding: 16px 32px 16px 23px;
    border: none;
    background-color: rgb(255, 109, 0);
    color: rgb(255, 255, 255);
  }
  .container .manual-wrapper {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 765px;
  }
  .container .task-slider {
    width: 100%;
  }
  .container .task-slider .task-slider__content {
    padding: 56px 285px 52px 36px;
  }
  .container .task-slider .task-slider__logo {
    width: 195px;
    height: 62px;
    margin-bottom: 12px;
  }
  .container .task-slider .task-slider__title {
    width: 350px;
    font-size: 20px;
    line-height: 26px;
  }
  .container .task-slider .task-slider__button {
    padding: 16px 32px 16px 23px;
    border: none;
    background-color: rgb(255, 109, 0);
    color: rgb(255, 255, 255);
  }
  .container .manual-wrapper {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 1023px;
  }
  .container .task-slider {
    width: 100%;
  }
  .container .task-slider .task-slider__content {
    padding: 56px 285px 52px 36px;
  }
  .container .task-slider .task-slider__logo {
    width: 140px;
    height: 44px;
    margin-bottom: 30px;
  }
  .container .task-slider .task-slider__title {
    width: 420px;
    font-size: 26px;
    line-height: 100%;
    margin-bottom: 52px;
  }
  .container .task-slider .task-slider__button {
    padding: 16px 32px 16px 23px;
    border: none;
    background-color: rgb(255, 109, 0);
    color: rgb(255, 255, 255);
  }
  .container .manual-wrapper {
    display: block;
  }
}
.task-duo {
  background-color: rgb(255, 255, 255);
  margin: 40px auto;
  padding: 40px 0;
}
.task-duo .container .task-duo__new {
  width: 1170px;
}
.task-duo .container .task-duo__new .new-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}
.task-duo .container .task-duo__new .new-content__text .new-content__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(38, 32, 36);
}
.task-duo .container .task-duo__new .new-content__text .new-content__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(117, 117, 117, 0.8);
}
.task-duo .container .task-duo__hits {
  width: 1170px;
}
.task-duo .container .task-duo__hits .hits-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 28px 0;
}
.task-duo .container .task-duo__hits .hits-content__text .hits-content__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(38, 32, 36);
}
.task-duo .container .task-duo__hits .hits-content__text .hits-content__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(117, 117, 117, 0.8);
}
.task-duo .container .task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.task-duo .container .task-list .task-item {
  width: 292px;
  text-align: center;
  border: 1px solid rgb(238, 238, 238);
  padding: 17px 17px 32px 17px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.task-duo .container .task-list .task-item .task-item__image-wrapper {
  position: relative;
  display: inline-block;
}
.task-duo .container .task-list .task-item .task-item__image-wrapper .task-item__image {
  width: 100%;
  max-width: 258px;
  height: auto;
  margin-bottom: 15px;
  display: block;
}
.task-duo .container .task-list .task-item .task-item__image-wrapper .task-item__logo {
  position: absolute;
  top: 18px;
  left: 212px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 9px 8px 8px 7px;
  width: 36px;
  height: 36px;
  display: none;
  z-index: 1;
  cursor: pointer;
}
.task-duo .container .task-list .task-item .task-item__image-wrapper .task-item__logo svg {
  -webkit-transition: fill 0.3s ease, fill-opacity 0.3s ease;
  transition: fill 0.3s ease, fill-opacity 0.3s ease;
  fill: #262024;
  fill-opacity: 0.4;
}
.task-duo .container .task-list .task-item .task-item__image-wrapper .task-item__logo.active {
  display: block;
}
.task-duo .container .task-list .task-item .task-item__image-wrapper .task-item__logo.active svg {
  fill: red;
  fill-opacity: 1;
}
.task-duo .container .task-list .task-item .item-title {
  font-weight: 500;
  color: rgb(29, 32, 41);
  padding: 0 38px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.task-duo .container .task-list .task-item .product-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 66px;
  white-space: nowrap;
}
.task-duo .container .task-list .task-item .product-info__item .product-info__label,
.task-duo .container .task-list .task-item .product-info__item .product-info__value {
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 15px;
  display: inline;
}
.task-duo .container .task-list .task-item .product-info__item .product-info__icon img {
  width: 14px;
  height: 12px;
  display: inline-block;
  margin-right: 6px;
}
.task-duo .container .task-list .task-item .item-price {
  margin-top: 30px;
  color: rgb(38, 32, 36);
  font-size: 22px;
  font-weight: 700;
  line-height: 15px;
}
.task-duo .container .task-list .task-item .item-price span {
  color: rgba(38, 32, 36, 0.5);
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}
.task-duo .container .task-list .task-item:nth-child(1) {
  border-radius: 18px 0 0 18px;
}
.task-duo .container .task-list .task-item:nth-child(1) .item-price {
  color: rgb(255, 109, 0);
}
.task-duo .container .task-list .task-item:last-child {
  border-radius: 0 18px 18px 0;
}
.task-duo .container .task-list .task-item:hover .task-item__logo {
  display: block;
  cursor: pointer;
}

.task-news .task-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}
.task-news .task-news__content .task-news__title {
  font-size: 28px;
  color: rgb(38, 32, 36);
  line-height: 24px;
  font-weight: 700;
}
.task-news .task-news__content .task-news__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: rgba(117, 117, 117, 0.8);
  font-weight: 500;
}
.task-news .task-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.task-news .task-news__list .task-news__item {
  width: 345px;
  text-align: left;
}
.task-news .task-news__list .task-news__item .task-news__image {
  margin-bottom: 20px;
}
.task-news .task-news__list .task-news__item .item-title {
  font-size: 12px;
  line-height: 16px;
  color: rgba(38, 32, 36, 0.4);
  font-weight: 500;
  margin-bottom: 10px;
}
.task-news .task-news__list .task-news__item .item-subtitle {
  color: rgb(38, 32, 36);
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 9px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .container {
    width: 312px;
    height: 612px;
    margin: 0 auto;
    padding: 0;
  }
  .container .task-news__content {
    width: 100%;
  }
  .container .task-news__list {
    width: 464px;
  }
  .container .task-news__list .task-news__item {
    width: 224px;
  }
  .container .task-news__list .task-news__item .task-news__image {
    width: 100%;
  }
  .container .task-news__list .task-news__item:last-child {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .container .task-news__content {
    width: 100%;
  }
  .container .task-news__list .task-news__item:last-child {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    max-width: 1023px;
  }
  .container .task-news__content {
    width: 100%;
  }
  .container .task-news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }
  .container .task-news__list .task-news__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 224px;
            flex: 1 1 224px;
    max-width: 100%;
  }
  .container .task-news__list .task-news__item .task-news__image {
    width: 100%;
  }
}
.container .task-text {
  margin: 50px 0;
  width: 1170px;
}
.container .task-text .task-title {
  font-size: 22px;
  line-height: 34px;
  color: rgb(38, 32, 36);
  margin-bottom: 20px;
}
.container .task-text .task-content {
  max-height: 117px;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.4s ease;
  transition: max-height 0.4s ease;
}
.container .task-text .task-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 247, 247, 0)), to(rgb(247, 247, 247)));
  background: linear-gradient(to bottom, rgba(247, 247, 247, 0), rgb(247, 247, 247));
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 1;
}
.container .task-text .task-content.task-content_expand, .container .task-text .task-content.task-content_unset {
  max-height: 1000px;
}
.container .task-text .task-content.task-content_expand::after, .container .task-text .task-content.task-content_unset::after {
  opacity: 0;
}
.container .task-text .task-content .content-title {
  font-size: 15px;
  line-height: 25px;
  color: rgb(85, 85, 85);
  margin-bottom: 10px;
}
.container .task-text .task-toggle {
  margin-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .task-text .task-toggle .task__toggle-text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  margin-right: 5px;
  color: rgba(38, 32, 36, 0.8);
}
.container .task-text .task-toggle .task__arrow {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.container .task-text .task-toggle.task-content-expand .task__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
    height: 612px;
    margin: 0 auto;
    padding: 0;
  }
  .container .task-text {
    border-top: 1px solid rgba(38, 32, 36, 0.1);
    border-bottom: 1px solid rgba(38, 32, 36, 0.1);
    padding: 30px 0 50px 0;
    width: 100%;
  }
  .container .task-text .task-title {
    margin-bottom: 15px;
  }
  .container .task-text .task-content .content-title {
    margin-bottom: 20px;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .container {
    max-width: 1023px;
  }
  .container .task-text {
    border-top: 1px solid rgba(38, 32, 36, 0.1);
    border-bottom: 1px solid rgba(38, 32, 36, 0.1);
    padding: 30px 0 50px 0;
    width: 100%;
  }
}
.task-viewed {
  margin: 7px 0;
  border-top: 1px solid rgba(38, 32, 36, 0.1);
  border-bottom: 1px solid rgba(38, 32, 36, 0.1);
}
.task-viewed .task-viewed__wrapper {
  padding: 30px 0;
}
.task-viewed .task-viewed__wrapper .task-viewed__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.task-viewed .task-viewed__wrapper .task-viewed__content .task-viewed__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(38, 32, 36);
}
.task-viewed .task-viewed__wrapper .task-viewed__content .task-viewed__arrows {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.task-viewed .task-viewed__wrapper .task-viewed__content .task-viewed__arrows .task-viewed__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  background-color: rgba(38, 32, 36, 0.05);
  border-radius: 30px;
  cursor: pointer;
}
.task-viewed .task-viewed__wrapper .task-viewed__content .task-viewed__arrows .task-viewed__arrow svg {
  width: 6px;
  height: 10px;
}
.task-viewed .task-viewed__wrapper .viewed-list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.task-viewed .task-viewed__wrapper .viewed-list .viewed-item {
  border: 1px solid rgb(238, 238, 238);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 324px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  padding: 20px 13px 20px 17px;
  gap: 24px;
}
.task-viewed .task-viewed__wrapper .viewed-list .viewed-item .viewed-item__image {
  width: 112px;
  height: 112px;
}
.task-viewed .task-viewed__wrapper .viewed-list .viewed-item .item-content__text {
  width: 158px;
}
.task-viewed .task-viewed__wrapper .viewed-list .viewed-item .item-content__text .item-content__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: rgb(38, 32, 36);
  margin-bottom: 12px;
}
.task-viewed .task-viewed__wrapper .viewed-list .viewed-item .item-content__text .item-content__price {
  font-size: 22px;
  line-height: 15px;
  font-weight: 700;
  color: rgb(38, 32, 36);
  margin-right: 12px;
}
.task-viewed .task-viewed__wrapper .viewed-list .viewed-item .item-content__text .item-content__price span {
  text-decoration: line-through;
  font-size: 16px;
  line-height: 15px;
  color: rgba(38, 32, 36, 0.5);
}
.task-viewed .task-viewed__wrapper .viewed-list .viewed-item:nth-child(1) .item-content__price {
  color: rgb(255, 109, 0);
}

@media (min-width: 320px) and (max-width: 767px) {
  .task-viewed {
    border: none;
    overflow: hidden;
    width: 100%;
    max-width: 768px;
  }
  .task-viewed .container .task-viewed__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .task-viewed .container .task-viewed__content .task-viewed__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .task-viewed .container .task-viewed__content .task-viewed__arrows .task-viewed__arrow--next {
    background-color: rgba(38, 32, 36, 0.1);
  }
  .task-viewed .container .viewed-list .viewed-item {
    width: 224px;
    padding: 12px;
  }
  .task-viewed .container .viewed-list .viewed-item .viewed-item__image {
    width: 61px;
    height: 61px;
  }
  .task-viewed .container .viewed-list .viewed-item .item-content__text {
    width: 121px;
  }
  .task-viewed .container .viewed-list .viewed-item .item-content__text .item-content__title {
    font-size: 11px;
    line-height: 14px;
  }
  .task-viewed .container .viewed-list .viewed-item .item-content__text .item-content__price {
    font-size: 18px;
  }
  .task-viewed .container .viewed-list .viewed-item .item-content__text .item-content__price span {
    font-weight: 400;
  }
}