.task-catalog {
  display: -ms-grid;
  display: grid;
  gap: 20px 16px;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.task-catalog .task-catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  height: 148px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  padding: 5px 0 0 25px;
  background-color: rgba(232, 232, 232, 0.5);
  border-radius: 10px;
}
.task-catalog .task-catalog__item .task-catalog__title {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: rgb(38, 32, 36);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.task-catalog .task-catalog__item .task-catalog__image {
  width: 125px;
  height: 125px;
}
.task-catalog .task-catalog__item:hover {
  background-color: rgb(255, 109, 0);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}
.task-catalog .task-catalog__item:hover .task-catalog__title {
  color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .container {
    width: 312px;
    height: 612px;
    margin: 0 auto;
    padding: 0;
  }
  .container .task-catalog {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .task-catalog .task-catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 10px;
    width: 146px;
    height: 138px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 75px;
    height: 75px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 17px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .container .task-catalog {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .container .task-catalog .task-catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    width: 100%;
    padding: 10px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__image {
    width: 70px;
    height: 70px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__title {
    font-size: 20px;
    margin-right: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    max-width: 1023px;
  }
  .container .task-catalog {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
  .container .task-catalog .task-catalog__item {
    width: 100%;
    padding: 28px 58px 28px 16px;
  }
  .container .task-catalog .task-catalog__item .task-catalog__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 70px;
    height: 70px;
    margin-right: 12px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .container .task-catalog .task-catalog__item .task-catalog__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 19px;
    white-space: nowrap;
  }
}
.container {
  width: 1170px;
}

.task-slider {
  position: relative;
  overflow: hidden;
  background-color: rgb(232, 232, 232);
}

.task-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-slider__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  position: relative;
}

.task-slider__content {
  padding: 76px 0 102px 66px;
  width: 575px;
}

.task-slider__logo {
  width: 209px;
  height: 66px;
  margin-bottom: 27px;
}

.task-slider__title {
  font-size: 32px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 52px;
  color: rgb(38, 32, 36);
}

.task-slider__button {
  border: 1.5px solid rgb(38, 32, 36);
  color: rgb(38, 32, 36);
  border-radius: 30px;
  padding: 18px 35px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  font-weight: 600;
}

.task-duo {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 0 0 40px 0;
}
.task-duo .task-duo__new {
  width: 1170px;
  margin: 0 auto;
}
.task-duo .task-duo__new .new-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
.task-duo .task-duo__new .new-content__text .new-content__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(38, 32, 36);
}
.task-duo .task-duo__new .new-content__text .new-content__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(117, 117, 117, 0.8);
}
.task-duo .task-duo__hits {
  width: 1170px;
  margin: 0 auto;
}
.task-duo .task-duo__hits .hits-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
.task-duo .task-duo__hits .hits-content__text .hits-content__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(38, 32, 36);
}
.task-duo .task-duo__hits .hits-content__text .hits-content__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(117, 117, 117, 0.8);
}
.task-duo .task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.task-duo .task-list .task-item {
  width: 292px;
  text-align: center;
  border: 1px solid rgb(238, 238, 238);
  padding: 17px 17px 32px 17px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.task-duo .task-list .task-item .task-item__image-wrapper {
  position: relative;
  display: inline-block;
}
.task-duo .task-list .task-item .task-item__image-wrapper .task-item__image {
  width: 258px;
  height: 258px;
  margin-bottom: 15px;
  display: block;
}
.task-duo .task-list .task-item .task-item__image-wrapper .task-item__logo {
  position: absolute;
  top: 18px;
  left: 212px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 9px 8px 8px 7px;
  width: 36px;
  height: 36px;
  display: none;
  z-index: 1;
}
.task-duo .task-list .task-item .item-title {
  font-weight: 500;
  color: rgb(29, 32, 41);
  padding: 0 38px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.task-duo .task-list .task-item .product-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 66px;
  white-space: nowrap;
}
.task-duo .task-list .task-item .product-info__item .product-info__label,
.task-duo .task-list .task-item .product-info__item .product-info__value {
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 15px;
  display: inline;
}
.task-duo .task-list .task-item .product-info__item .product-info__icon img {
  width: 14px;
  height: 12px;
  display: inline-block;
  margin-right: 6px;
}
.task-duo .task-list .task-item .item-price {
  margin-top: 30px;
  color: rgb(38, 32, 36);
  font-size: 22px;
  font-weight: 700;
  line-height: 15px;
}
.task-duo .task-list .task-item .item-price span {
  color: rgba(38, 32, 36, 0.5);
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}
.task-duo .task-list .task-item:nth-child(1) {
  border-radius: 18px 0 0 18px;
}
.task-duo .task-list .task-item:nth-child(1) .item-price {
  color: rgb(255, 109, 0);
}
.task-duo .task-list .task-item:last-child {
  border-radius: 0 18px 18px 0;
}
.task-duo .task-list .task-item:hover .task-item__logo {
  display: block;
  cursor: pointer;
}

.task-news {
  margin-top: 40px;
  background-color: rgb(247, 247, 247);
}
.task-news .task-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 28px 0;
}
.task-news .task-news__content .task-news__title {
  font-size: 28px;
  color: rgb(38, 32, 36);
  line-height: 24px;
  font-weight: 700;
}
.task-news .task-news__content .task-news__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: rgba(117, 117, 117, 0.8);
  font-weight: 500;
}
.task-news .task-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.task-news .task-news__list .task-news__item {
  width: 345px;
  text-align: left;
}
.task-news .task-news__list .task-news__item .task-news__image {
  margin-bottom: 20px;
}
.task-news .task-news__list .task-news__item .item-title {
  font-size: 12px;
  line-height: 16px;
  color: rgba(38, 32, 36, 0.4);
  font-weight: 500;
  margin-bottom: 10px;
}
.task-news .task-news__list .task-news__item .item-subtitle {
  color: rgb(38, 32, 36);
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 9px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .container {
    width: 312px;
    height: 612px;
    margin: 0 auto;
    padding: 0;
  }
  .container .task-news__content {
    width: 100%;
  }
  .container .task-news__list {
    width: 464px;
  }
  .container .task-news__list .task-news__item {
    width: 224px;
  }
  .container .task-news__list .task-news__item .task-news__image {
    width: 100%;
  }
  .container .task-news__list .task-news__item:last-child {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
  .container .task-news__content {
    width: 100%;
  }
  .container .task-news__list .task-news__item:last-child {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
    max-width: 1023px;
  }
  .container .task-news__content {
    width: 100%;
  }
  .container .task-news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }
  .container .task-news__list .task-news__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 224px;
            flex: 1 1 224px;
    max-width: 100%;
  }
  .container .task-news__list .task-news__item .task-news__image {
    width: 100%;
  }
}