<div class="project">
    <div class="wrapper">
        <div class="project-wrapper">
            <div class="project-content">
                <div class="project-title">{{project-title}}</div>
                <div class="project-subtitle">{{project-subtitle}}</div>
                <div class="project-navigation">
                    <a href="#" class="progect-nav__button progect-nav__button--left">
                        <svg class="progect-nav__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 7H4L9.5 1.5L8 0L0 8L8 16L9.5 14.5L4 9H16V7Z" fill="currentColor" />
                        </svg>
                    </a>
                    <a href="#" class="progect-nav__button progect-nav__button--right">
                        <svg class="progect-nav__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7H12L6.5 1.5L8 0L16 8L8 16L6.5 14.5L12 9H0V7Z" fill="currentColor" />
                        </svg>
                    </a>
                </div>
                <a href="#" class="project-more">
                    {{project-more}}
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 10.59L6.88563 6L2.25 1.41L3.67713 0L9.75 6L3.67713 12L2.25 10.59Z" fill="white" />
                    </svg>
                </a>
            </div>
            <div class="project-slider swiper">
                <div class="swipper-wrapper">
                    <div class="project-list">
                        {{#project-items}}
                            <div class="project-item">
                                <div class="project-item__title">{{project-item__title}}</div>
                                <div class="project-item__subtitle">{{project-item__subtitle}}</div>
                                <div class="project-services__title">{{project-services__title}}</div>
                                <div class="project-services__list">
                                    {{#project-services__items}}
                                        <div class="project-services__item">
                                            <img class="project-service__image" src="{{project-service__image}}" alt="">
                                            <a class="project-service__link" href="#">{{project-service__link}}</a>
                                        </div>
                                    {{/project-services__items}}
                                </div>
                                <a href="#" class="project-service__more">
                                    {{project-service__more}}
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 10.59L6.88563 6L2.25 1.41L3.67713 0L9.75 6L3.67713 12L2.25 10.59Z" fill="#262626" />
                                    </svg>
                                </a>
                            </div>
                        {{/project-items}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>