.clients {
    overflow: hidden;
}

.clients__wrapper {
    padding: 140px 0 89px 0;
}

.clients__title {
    color: #333333;
    font-size: 46px;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: -5%;
    text-align: center;
}

.clients__list {
    width: 100vw;
}

.clients__list .swiper-wrapper {
    padding: 80px 0;
}

.clients__item.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 365px;
    height: 180px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    flex-shrink: 0;
}

.clients__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.clients__navigattion-button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    color: #FFD98C;
    border: 2px solid #FFD98C;
    border-radius: 5px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.clients__navigattion-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #FFD98C;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .3s ease-in-out;
    z-index: -1;
}

.clients__navigattion-button:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

.clients__navigattion-button:hover {
    color: #262626;
    box-shadow: 0 15px 60px 0 rgba(255, 196, 77, 0.5);
}

.clients__navigattion-button.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}