<div class="clients homepage-fade">
    <div class="wrapper">
        <div class="clients__wrapper">
            <div class="clients__title">{{clients__title}}</div>

            <div class="clients__list swiper">
                <div class="swiper-wrapper">
                    {{#clients__items}}
                        <div class="clients__item swiper-slide">
                            <img src="{{clients__item-image}}" alt="" class="clients__item-image">
                        </div>
                    {{/clients__items}}
                </div>
            </div>

            <div class="clients__navigation">
                <button class="clients__navigattion-button clients__navigattion-prev">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 7L4 7L9.5 1.5L8 4.4509e-07L4.4509e-07 8L8 16L9.5 14.5L4 9L16 9L16 7Z" fill="currentColor" />
                    </svg>
                </button>
                <button class="clients__navigattion-button clients__navigattion-next">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.00726e-07 7L12 7L6.5 1.5L8 4.45091e-07L16 8L8 16L6.5 14.5L12 9L3.89454e-07 9L5.00726e-07 7Z" fill="currentColor" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>